/* POR DEFECTO: 1920x1080 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
	width: 80%;
	height: 100vh;
	color: #000;
	font-family: sans-serif, "Lucida Console";
    overflow-y: hidden;
    background-color: #4e2c11;
    background-image: url("../../img/room_tictactoe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    margin-top: 2%;
    text-align: center;
    text-shadow: 1px 1px;
    font-family: "Anta", "Lucida Console", sans-serif;
}

.screen {
    display: flex;
    flex-direction: column;
	height: 80vh;
	position: relative;
	margin: 2% 2% 0 2%;
    border-style: inset;
    border-width: 50px;
    border-color: rgb(14, 17, 19);
}

.screen aside ul {
    display: table;
    padding: 2%;
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: rgb(192, 192, 192);
    border: 2px rgb(252, 252, 252) ridge;
}

.screen aside ul li {
    padding: 5%;
    margin-top: 2%;
    list-style: none;
    border-style: ridge;
}

.screen aside ul li:hover {
    background-color: rgb(1, 0, 128);
    color: white;
    cursor: pointer;
}

.screen aside ul li a {
    text-decoration: none;
    color: #000;
}

.screen aside ul li:hover a {
    color: white;
}

.screen aside ul li a:hover {
    color: white;
    text-decoration: none;
}

#desktop {
    right: 0;
    height: 100%;
    width: 100%;
}

#desktop img {
    margin-left: 15%;
    width: 85%;
    height: 100%;
}

#form {
    display: flex;
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin: 0 0 6% 30%;
    padding: 2% auto;
    width: 50%;
    height: 80%;
    background-color: rgb(192, 192, 192);
    border: 2px rgb(252, 252, 252) ridge;
    justify-content: center;
}

.convert-title {
    margin: 2%;
}

#default {
    margin: 4%;
    overflow: auto;
}

#default ul {
    margin: 4%;
}

#default code {
    font-size: 1.25em;
}

#form div {
    margin: 5% auto 0 auto;
    width: 90%;
}

#form div form {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

#form div form label, input, select {
    padding: 2%;
    display: block;
    width: 100%;
}

#form div form br {
    margin-top: clamp(10%, 20%, 25%);
}

#form div form output {
    display: block;
    background-color: #fff;
    padding: 1%;
    height: 30px;
    border: 1px black solid;
}

.button-ok {
    margin-top: 10%;
}

#help-icon {
    position: fixed;
    margin: 2% 3% 2% 2%;
    right: 0;
    bottom: 0;
    max-width: 5%;
    max-height: 5%;
}

/* PANTALLAS */

/* 1280x720, 1360x768 y 1366x768 */
/* 1360x768 probado en una pantalla real */
@media screen and (min-width: 1280px) and (max-width: 1400px) {
    .screen aside ul li {
        font-size: 90%;
    }
    #form div {
        margin: 1% auto 0 auto;
    }
    .button-ok {
        margin-top: 3%
    }
}

/* 2560x1440 */
@media only screen and (min-width: 2241px) and (max-width: 2560px) {
    body {
        font-size: 150%;
    }
    input, select {
        font-size: 125%;
    }
    #form div form output {
        font-size: 125%;
        height: 50px;
    }
}