/* POR DEFECTO: 1920x1080 */
/* probado en una pantalla real */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
	max-width: 80%;
	max-height: 100%;
	position: relative;
	color: #000;
	font-family: "Anta", "Lucida Console", sans-serif;
    background-image: url("img/brick.jpg");
    background-repeat: repeat;
    background-size: cover;
}

#room {
    display: block;
	top: 12%;
	height: 80vh;
	position: relative;
	margin: 2% 2% 0 2%;
    border-style: ridge;
    border-width: 10px;
    border-color: #ceab78;
    background-image: url("img/room_bg.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#converter img {
    display: flex;
    z-index: 1;
    position: absolute;
    right: 0;
    margin: 16% 22% 0 0;
    max-width: 22%;
    max-height: 22%;
}

#converter img:hover {
    border: 1px black solid;
    box-shadow: 0 6px 20px 0 black;
}

#tictactoe img {
    display: flex;
    z-index: 1;
    position: absolute;
    left: 0;
    margin: 32% 0 0 6%;
    max-width: 12%;
    max-height: 12%;
}

#tictactoe img:hover{
    border: 1px black solid;
    box-shadow: 0 6px 20px 0 black;
}

#cats img {
    display: flex;
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin: 0 0 6% 25%;
    max-width: 20%;
    max-height: 20%;
}

#cats img:hover {
    border: 1px black solid;
    box-shadow: 0 6px 20px 0 black;
}

#calculator img {
    display: flex;
    z-index: 1;
    position: absolute;
    right: 0;
    margin: 30% 16% 0 0;
    max-width: 8%;
    max-height: 8%;
}

#calculator img:hover {
    border: 1px black solid;
    box-shadow: 0 6px 20px 0 black;
}

#github img {
    display: flex;
    z-index: 1;
    position: absolute;
    left: 0;
    margin: 14% 0 0 5%;
    max-width: 12%;
    max-height: 12%;
}

#github img:hover{
    padding: 2px;
    border: 1px black solid;
    box-shadow: 0 6px 20px 0 black;
}

#fishtank img {
    display: flex;
    z-index: 0;
    position: absolute;
    right: 0;
    margin: 28% 4% 0 0;
    max-width: clamp(20%, 40%, 50%);
    max-height: clamp(20%, 40%, 50%);
}

#fishtank img:hover {
    border: 1px black solid;
    box-shadow: 0 6px 20px 0 black;
}

nav {
    display: table;
    text-align: center;
    bottom: 0;
    padding: 0.75%;
    position: absolute;
    background-image: linear-gradient(#808080, #575757);
    width: 100%;
    border-style: ridge;
}

nav ul li {
    padding: 2%;
    margin: 0.5%;
    list-style: none;
    display: inline;
    cursor: pointer;
}

nav ul li:hover {
    border-style: ridge;
    background-image: linear-gradient(#808080, #575757);
    box-shadow: 0 6px 20px 0 black;
}

nav ul li a, span {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a img {
    max-width: 3%;
    max-height: 3%;
}

/* PANTALLAS */

/* Móviles y tablets en landscape */
@media screen and (min-width: 667px) and (max-width: 1279px) and (orientation: landscape) {
    #converter img {
        margin: 14% 22% 0 0;
    }
    #tictactoe img {
        margin: 29% 0 0 6%;
    }
    #calculator img {
        margin: 27% 16% 0 0;
    }
    #github img {
        margin: 11% 0 0 4%;
    }
    #fishtank img {
        margin: 27% 6% 0 0;
        max-width: clamp(20%, 30%, 40%);
        max-height: clamp(20%, 30%, 40%);
    }
    nav ul li a, span {
        font-size: 75%;
    }
}

/* 1280x720, 1360x768 y 1366x768 */
/* 1360x768 y 1366x768 probado en una pantalla real */
@media screen and (min-width: 1280px) and (max-width: 1399px) {
    #converter img {
        margin: 15% 22% 0 0;
    }
    #tictactoe img {
        margin: 30% 0 0 6%;
    }
    #calculator img {
        margin: 28% 16% 0 0;
    }
    #github img {
        margin: 12% 0 0 4%;
    }
    #fishtank img {
        margin: 28% 4% 0 0;
        max-width: clamp(20%, 30%, 40%);
        max-height: clamp(20%, 30%, 40%);
    }
}

/* 1440x900 */
/* probado con una pantalla real */
@media screen and (min-width: 1400px) and (max-width: 1480px) {
    #converter img {
        margin: 16% 22% 0 0;
    }
    #tictactoe img {
        margin: 32% 0 0 6%;
    }
    #calculator img {
        margin: 30% 16% 0 0;
    }
    #fishtank img {
        margin: 30% 4% 0 0;
        max-width: clamp(20%, 30%, 40%);
        max-height: clamp(20%, 30%, 40%);
    }
}

/* 1536x864 y 1600x900 */
@media screen and (min-width: 1481px) and (max-width: 1600px) {
    #converter img {
        margin: 18% 21% 0 0;
    }
    #tictactoe img {
        margin: 34% 0 0 6%;
    }
    #calculator img {
        margin: 32% 16% 0 0;
    }
    #github img {
        margin: 17% 0 0 4%;
    }
    #fishtank img {
        margin: 30% 4% 0 0;
        max-width: clamp(20%, 30%, 40%);
        max-height: clamp(20%, 30%, 40%);
    }
}

/* 2240x1080 */
@media screen and (min-width: 1921px) and (max-width: 2240px) {
    #converter img {
        margin: 15% 22% 0 0;
    }
    #tictactoe img {
        margin: 31% 0 0 6%;
    }
    #calculator img {
        margin: 29% 16% 0 0;
    }
    #fishtank img {
        margin: 29% 4% 0 0;
        max-width: clamp(40%, 50%, 60%);
        max-height: clamp(40%, 50%, 60%);
    }
}

/* 2560x1440 */
/* probado con una pantalla real */
@media screen and (min-width: 2241px) and (max-width: 2560px) {
    #converter img {
        margin: 17% 21% 0 0;
    }
    #tictactoe img {
        margin: 31% 0 0 6%;
    }
    #calculator img {
        margin: 29% 16% 0 0;
    }
    #github img {
        margin: 13% 0 0 4%;
    }
    #fishtank img {
        margin: 26% 4% 0 0;
        width: 10%;
    }
}
